:root{
  background-image: linear-gradient(to top, var(--kolor-tla1), var(--kolor-tla2));
  font-size: 200%;
  box-sizing: border-box;
  --kolor-tla1: #2d3047;
  --kolor-tla2: #5C8E99;
}
body{
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
}
input{
  font-size: 100%;
  border-radius: 10px;
  width: 100%;
}

#myForm{
  color: rgb(244, 248, 234);
  background-color: #2b498193;
  border: 2px #b1c4d3 solid;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  min-height: 55%;
  border-radius: 25px;
  text-align: center;
}
label{
  min-width: 30%;
}

.label{
  display: flex;
  flex-direction: column;
}
.my-hr {
  border: 1px solid #000; 
  width: 90%;
  margin: 0;
}
